<!doctype html>
<html>
<head>
<title>Backbone 101 - Counter button</title>
<style>* { font-family: Arial; }</style>
</head>
<body>

<h1>Backbone 101 - Counter button</h1>
<h3>Step 3: better templating (better for SEO and layout changing and better performance)</h3>
<p>this step will improve template by use template only changed content</p>

<hr>

<div id="content-holder">
    <button id="minus-button">Minus</button>
    <span id="counter"></span>
    <button id="plus-button">Plus</button>  
</div>

<script type="text/template" id="counter-template">
<span><%= count %></span>  
</script>

<script type="text/javascript" src="assets/library/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/library/lodash/lodash.underscore.min.js"></script>
<script type="text/javascript" src="assets/library/backbone/backbone.min.js"></script>
<script>

/* Backbone's code */
(function($){

    var Counter = Backbone.Model.extend({
        defaults: {
            count: 0
        },

        increase: function(){
            this.set('count', this.get('count')+1);
        },

        decrease: function(){
            this.set('count', this.get('count')-1);
        }
    });

    var CounterView = Backbone.View.extend({

        el: '#content-holder',

        events: {
            'click #minus-button': 'subtract',
            'click #plus-button': 'add'
        },

        add: function(){
            this.model.increase();
        },

        subtract: function(){
            this.model.decrease();
        },

        template: _.template( $('#counter-template').html() ),

        render: function(){
            $('#counter').html(
                this.template(this.model.toJSON())
            );

            return this;
        },

        initialize: function(){
            this.render = _.bind(this.render, this);
            this.render();

            this.model.bind('change:count', this.render);
        }

    });

    var counterItem = new Counter();

    var CounterView = new CounterView({ model: counterItem });

})(jQuery);

/* jQuery's code
$(window).ready(function(){
    $('#counter').text(0);
});
$('#add-button').click(function(){
    var counter = parseInt($('#counter').text());
    $('#counter').text(counter + 1);
}); */

</script>

</body>
</html>
